task1/src/main/mule/task1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="08ea7098-74d0-44b3-a311-e83474f94d0e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="task1Flow" doc:id="efed0646-a0df-4bcf-8001-844d7f9a7a39" >
		<http:listener doc:name="Listener" doc:id="a0a825fa-a801-4dd7-bda0-74a10e87929c" config-ref="HTTP_Listener_config" path="/task"/>
		<ee:transform doc:name="Transform Message" doc:id="e2c30063-0d82-4a2a-9ea2-a4bff1a12c8e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
if (payload.name=="Suneetha"){
    firstName :"firstname is correct"
    
    }
    else{
    	firstName :"firstname is incorrect"
    }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
