consumesoap-suneetha/src/main/mule/consumesoap-suneetha.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4963ccf9-67a1-4ed9-817d-9ff715361d8f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="cbd6cfe4-e659-4e32-a186-c724fc557880" >
		<wsc:connection wsdlLocation="wsdl\calculator.wsdl.xml" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="consumesoap-suneethaFlow" doc:id="169a4979-3295-4285-a25c-74be92651eb9" >
		<http:listener doc:name="Listener" doc:id="1cc577de-66b9-49d4-81b3-8489d22ce4f0" config-ref="HTTP_Listener_config" path="/consumesoap"/>
		<ee:transform doc:name="Transform Message" doc:id="8d523272-8a25-472c-9250-638cb07d276d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: 10,
		ns0#intB: 20
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="da837fb8-b2b5-4785-8501-d276f2048ca1" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="3497ad09-b3d8-4825-926b-9e2a4d86f647">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"result" : payload.body
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
