soap-suneetha/src/main/mule/soap-suneetha.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f3be5f8-f7c1-45e0-b269-3f7f5d92dfd8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="25480ecf-d8fd-456f-ac13-952141d40236" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soap-suneethaFlow" doc:id="16890eef-5182-4b11-b656-1d48dfbdd5e6" >
		<http:listener doc:name="Listener" doc:id="7a95b5b0-258c-4367-81b0-c2b7e4c47dcc" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="84ac4822-483e-4c2c-a9f6-8cd5ef02ceb2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Multiply" doc:name="Consume" doc:id="2eed90fd-06e4-4a15-9b3d-88316e191734" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="3b8be136-3c5d-4387-be88-8df092c31b1e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	"result" : payload.body.ns0#MultiplyResponse.ns0#MultiplyResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="soap-suneethaFlow1" doc:id="51e1ab72-03a1-44f3-ab62-ac0ab5fd869a" >
		<http:listener doc:name="Listener" doc:id="a99aa689-a7a7-455c-b6d4-002ff70b15a8" config-ref="HTTP_Listener_config" path="/secondsoap"/>
		<ee:transform doc:name="Transform Message" doc:id="b15c4fb6-0b24-4f63-9829-8f9c15dcdc72">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: payload.value3,
		ns0#intB: payload.value4
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="3a2a7bae-6099-4c7a-90e0-eef01b773bc5" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
		<ee:transform doc:name="Transform Message" doc:id="814afca4-83a5-44ff-afa2-4e6f1b4590aa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	"result" :payload.body.ns0#SubtractResponse.ns0#SubtractResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
