assignment127-12-2021/src/main/mule/assignment127-12-2021.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="172280a1-219d-4b1a-876f-f96e8ea1844f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assignment127-12-2021Flow" doc:id="ebf8ab0e-a983-4eff-9f8c-7f586f2c6f91" >
		<http:listener doc:name="Listener" doc:id="62354142-ad64-4e20-987a-1b5a712edb80" config-ref="HTTP_Listener_config" path="/assess1"/>
		<ee:transform doc:name="Transform Message" doc:id="c6082014-00cc-4025-9fc6-75e300ee9b98" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
root:{
 "name" :payload.city.name,
 "minimum_temparature" : payload.list.main.temp_min,
 "maximum_temparature" : payload.list.main.temp_max,
 "pressure": payload.list.main.pressure
 
 }

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
